<!DOCTYPE html>
{% load static %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>屋檐共享雨伞</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="屋檐共享雨伞提供24小时免费自助用伞服务，随借随还只需关注屋檐微信公众号">
    <meta name="keywords" content="最美的不是下雨天，是曾与你躲过雨的屋檐 />
  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="shortcut icon" href="{% static 'booktest/images/favicon.ico' %}">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'booktest/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'booktest/css/icomoon.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'booktest/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'booktest/css/owl.theme.default.min.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'booktest/css/bootstrap.css' %}">

	<link rel="stylesheet" href="{% static 'booktest/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'booktest/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'booktest/js/respond.min.js' %}" ></script>
	<![endif]-->
	</head>


	<body>

{% block content %}

	<header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->
			    <nav class="navbar navbar-default">
		        <div class="navbar-header">
		        	<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		          	<a class="navbar-brand" href="index.html" ><img src="{% static 'booktest/images/logo.png' %}" ></a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse" >
		          <ul class="nav navbar-nav navbar-right" >
		            <li class="active"><a href="#" data-nav-section="home"><span>网站首页</span></a></li>
		            <li><a href="#" data-nav-section="services"><span>关于屋檐</span></a></li>
		            <li><a href="#" data-nav-section="tour"><span>创新设计</span></a></li>
		            <li><a href="#" data-nav-section="testimonials"><span>商务合作</span></a></li>
		            <li><a href="#" data-nav-section="pricing"><span>关注公众号</span></a></li>
		            <li><a href="login.htm" ><span>登录/注册</span></a></li>

		          </ul>
		        </div>
			    </nav>
			  <!-- </div> -->
		  </div>
	</header>

	<div id="slider" data-section="home" >
		<div class="owl-carousel owl-carousel-main owl-carousel-fullwidth" style="width:100%; ">
			<!-- You may change the background color here. -->
		    <div class="item" style="background:url({% static 'booktest/images/bg-header-overlay3.jpg' %}) no-repeat center center; width:100%;">
		    	<div class="container" style="position: relative;">
		    		<div class="row animate-box" data-animate-effect="fadeIn">
					    <div class="col-md-7 col-sm-7">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<span class="ziyou_img"><img src="{% static 'booktest/images/ziyou.png' %}" alt="屋檐|WuYan"></span>

									<h2 class="fh5co-sub-lead ">最美的不是下雨天，是曾与你躲过雨的屋檐。屋檐共享雨伞致力于改变人们的生活方式，让共享雨伞成为一种习惯。安全、便捷、美观，屋檐期待与你见面！</h2>
									<p class=""><a href="#" class="btn btn-primary btn-lg" data-nav-section="pricing">关注公众号</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 mobile-image">
					    	<div class="mobile"><img src="{% static 'booktest/images/ios.png' %}" alt="屋檐|WuYan"></div>
					    </div>
		    		</div>
		    	</div>
		    </div>
			<!-- You may change the background color here.  -->
		    <div class="item" style="background:url({% static 'booktest/images/bg-header-overlay1.jpg' %}) no-repeat center center;width:100%;">
		    	<div class="container" style="position: relative;">
		    		<div class="row animate-box" data-animate-effect="fadeIn">
		    			<div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<img src="{% static 'booktest/images/ziyou2.png' %}" >
									<h2 class="fh5co-sub-lead ">屋檐共享雨伞是未来共享观念外延的标志，可以充分解决人们日常生活中的痛点问题。只需一键，解锁服务。</h2>
									<p class=""><a href="#" class="btn btn-primary btn-lg" data-nav-section="pricing">关注公众号</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 mobile-image">
					    	<div class="mobile"><img src="{% static 'booktest/images/andriod.png' %}"  alt="屋檐|WuYan"></div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>

{% endblock content %}

	<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12">
					<p class="copyright text-center">Copyright &copy; 2017 - 2018 屋檐|WuYan. All Rights Reserved.<br>冀ICP备17011617号-2</p>
				</div>
			</div>

		</div>
	</footer>


	<!-- jQuery -->
	<script src="{% static 'booktest/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'booktest/js/jquery.easing.1.3.js' %}" ></script>
	<!-- Bootstrap -->
	<script src="{% static 'booktest/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'booktest/js/jquery.waypoints.min.js' %}"></script>
	<!-- Owl Carousel -->
	<script src="{% static 'booktest/js/owl.carousel.min.js' %}" ></script>
	<!-- Main JS (Do not remove) -->
	<script src="{% static 'booktest/js/main.js' %}"></script>

	</body>
</html>
